@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* height: 500px; */
  overflow: auto;
  background: linear-gradient(90deg, #070707 0%, #201f1f 100%);
}

.hero {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out items */
  max-width: 1550px;
  margin: 0 auto; /* Center align hero section */
  width: 100%;
  height: 87vh;
  flex-grow: 1;
  padding: 0 20px;
}

.textContainer {
  color: white; /* Set text color */
  max-width: 600px; /* Limit text container width */
  margin-top: -70px; /* Added space between text and images */
  margin-right: 80px;
  margin-left: 80px;

}

.card {
  display: flex;
  background-color: #000; /* Card background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
  overflow: hidden; /* Clip the image */
}

.cardImage {
  width: 500px; /* Increased width of images */
  height: auto; /* Maintain aspect ratio */
}

.heading {
  font-size: 45px; /* Adjusted font size */
  line-height: 1.05;
  margin-bottom: 1rem; /* Reduced bottom margin */
}

.description {
  font-size: 20px; /* Adjusted font size */
  line-height: 1.6;
  margin-bottom: 1.5rem; /* Adjust bottom margin */
}

.btns {
  display: flex;
  justify-content: space-between; /* Space out buttons evenly */
  margin-top: 20px; /* Add some space above the buttons */
  width: 100%; /* Ensure it takes full width */
}

.btn {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.4); /* Glowing effect */
}

.btn:hover {
  background-color: #ff0606;
  color: #fff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5); /* Enhance glow on hover */
}

.buyBtn {
  background-color: #000000;
  color: #fff;
  transition: all 0.3s;
}

.buyBtn:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5); /* Enhance glow on hover */
}
